
<div class="graph-list">
  <div class="items">
    <a routerLink="/bar" routerLinkActive="active"  [routerLinkActiveOptions]="{exact: true}">
      <img src="../../assets/bar.png" alt="">
      <span>graph</span>
    </a>
    <a routerLink="/" routerLinkActive="active"  [routerLinkActiveOptions]="{exact: true}">
      <img src="assets/list.png" alt="">
      <span>list</span>
    </a>
</div>
</div>

<!-- <app-list></app-list> -->
<!-- <app-barchart>

</app-barchart> -->
<router-outlet></router-outlet>

