.graph-list{
  width: 95%;
  display: grid;
  justify-items: end;
  margin-top: 4rem;
}
.graph-list .items{
  display: grid;
  justify-items: end;
  grid-auto-flow: column;
  margin-bottom: 1rem;
  border-radius: 20px;
  background-color: white;
}
.graph-list a {
  text-decoration: none;
  color: var(--font-color);
  padding: 3px 22px;
  border-radius: 20px;
  text-align: center;
  display: grid;
  grid-auto-flow: column;
  gap: 10px;
  background-color: white;
}
.graph-list a.active {
  text-decoration: none;
  color: white;
  background: var(--main-color) ;
  padding: 3px 22px;
  border-radius: 20px;
}
.graph-list a img {
  width: 1rem;
  
}